#head {
  background-color: white;
  height: auto;

}
html  {
  background-color: white !important;
  overflow-x: hidden;
  max-width: 100%;
  height: auto;
}

.disable-scroll {
    /* disable scrollbar on both x and y axis */
    overflow: hidden;

    /* disable scrollbar on x-axis only */
    overflow-x: hidden;

    /* disable scrollbar on y-axis only */
    overflow-y: hidden;

    /* disable scroll */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    /* OPTIONAL: none of dom element will be click-able */
    pointer-events: none;
}

.centered {
  text-align: center;
}
.slogan {
  line-height: 80px;
  font-size: 25px;
  color: #ccbba3;
  margin: -100px auto 150px;
  font-family: 'Open Sans',sans-serif;
  font-style: italic;
  text-align: center;
}
#servicii{
  margin-top: 300px;
  margin-bottom: 200px;
}
#servicii1{
  padding-top: 0;
}
.title h3{
  font-size: 32px;
  color: #806560;
  font-family: 'Roboto Condensed',sans-serif;
  font-weight: bold;
  line-height: 35px;
  margin: 50px auto;
  letter-spacing: 0.5pt;
}
.title ul > li{
    margin-left: -12px;
    font-size: 20px;
}
#servicii h4{
  font-size: 20px;
  color: #806560;
  font-family: 'Roboto Condensed',sans-serif;
  font-weight: bold;
  line-height: 35px;
   padding-left: 40px;
  padding-top: 30px;
  padding-bottom: 20px;
}
#servicii p{
  font-size: 15px;
  color: #806560;
  font-family: 'Roboto Condensed',sans-serif;
  line-height: 23px;
  text-align: left;
  padding-left: 40px;
  background-color: white
}
.servb{background-color: white;}
.serv1{width: 970px;margin: 0px auto;padding-bottom: 50px;}

#portofolio{
  background-color: #1b1b1b;
/*  background-repeat: repeat-x;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#33393f), to(#2b2e33));
  background: -webkit-linear-gradient(45deg, #2b2e33, #33393f);
  background: -moz-linear-gradient(45deg, #2b2e33, #33393f);
  background: -ms-linear-gradient(45deg, #2b2e33, #33393f);
  background: -o-linear-gradient(45deg, #2b2e33, #33393f); */
  padding-bottom: 35px;
}

#portofolio h3{
  color: #ccbba3;
  padding-top: 40px;
  padding-bottom: 20px;
  margin-bottom: 10px;
}
#portofolio span{
  color: #806560;
  font-size: 12px;
}
/* .container{width: 970px;} */

.boxed{
  border: 1px solid #806560;
  padding: 0 0;
  height: 250px;
  width: 25%;
  margin-bottom: 0px;
  margin-left: 0px;
  transition: all 0.3s ease 0s;
}


@media (max-width: 1200px){
  .boxed{
    width: 33.33%;
    max-width: 33.33%;
  }
}

.p1 {
  background: url('../img/p1.svg') center center no-repeat;
  background-size: 250px 250px;
}

.p2 {
  background: url('../img/p2.svg') center center no-repeat;
  background-size: 250px 250px;
}
.p3 {
  background: url('../img/p3.svg') center center no-repeat;
  background-size: 250px 250px;
}
.p4 {
  background: url('../img/p4.svg') center center no-repeat;
  background-size: 250px 250px;
}
.p5 {
  background: url('../img/p5.svg') center center no-repeat;
  background-size: 250px 250px;
}
.p6 {
  background: url('../img/p6.svg') center center no-repeat;
  background-size: 250px 250px;
}
.p7 {
  background: url('../img/p7.svg') center center no-repeat;
  background-size: 250px 250px;
}
.p8 {
  background: url('../img/p8.svg') center center no-repeat;
  background-size: 250px 250px;
}
.p9 {
  background: url('../img/p9.svg') center center no-repeat;
  background-size: 250px 250px;
}
.p10 {
  background: url('../img/p10.png') center center no-repeat;

}
.p11 {
  background: url('../img/p11.svg') center center no-repeat;
  background-size: 250px 250px;
}
.p12 {
  background: url('../img/p12.svg') center center no-repeat;
  background-size: 250px 250px;
}
div.boxed:hover {
  cursor: pointer;
  -webkit-transition: background-color 1s ease-out;
  -moz-transition: background-color 1s ease-out;
  -o-transition: background-color 1s ease-out;
  transition: background-color 1s ease-out;
  border:1px solid white;
}
.righted{
  text-align: right;
  margin-bottom: 30px;
  padding-top: 110px;
}
.texted{
  color: #ccbba3;
  font-size: 14px; line-height: 80px;
  font-family: 'Roboto',sans-serif;
}
.texted a{
  color: #ccbba3;
  text-decoration: none;
  font-size: 14px;
  font-family: 'Roboto',sans-serif;
}
.margin80 {
  padding: 100px auto;

}


.logo_footer{
  padding: 50px 0px 70px;
  padding-left: 95px;
}
.contacts{
  color: #8f8f8f;
font-size: 12px;
  font-family: 'Roboto',sans-serif;
  line-height: 26px;
  padding-left: 100px;
}
.socials{
  color: #333a40;
  padding-top: 75px;
  padding-left: 100px;
}
.socials a{margin-right: 10px;}
._ta {
    padding-top:40px;
    padding-left: 100px;
}

@media (max-width: 768px){
  .logo_footer{
    padding-left: 30px;
  }
  .contacts{
    padding-left: 30px;
  }
  .socials{
    padding-left: 0px;
  }
  #contact .title h3 {

    padding-left: 0px !important;
}
}

._ta textarea {
    background: transparent url(../img/line1.png) repeat;
    border:none;
    height:200px;
    width:73%;
    overflow:hidden;
    line-height:30px;
    color:#333940;box-shadow: none;
}
textarea:focus{
  box-shadow: none;
}
.email1{
  background: transparent url(../img/line1.png) repeat;
  border:none !important;
  overflow:hidden;
  line-height:30px !important;
  color:#333940 !important;
  padding:10px !important;
  box-shadow: none !important;
  margin-left: 30px !important;
  margin-top: 50px;
  width: 80%;
  font-size: 14px;
  background-color:transparent !important;
}
.email1:focus{
  box-shadow: none;

}
.butons {
    color: #da2128;
    border: 2px solid #da2128;
    padding: 15px 50px;
    background: transparent;
    margin-top: 26px;
    border-radius: 38px;

}
.slogan1{
  margin-bottom: -185px;margin-left: -20px;
}
.clam1{margin-bottom:-150px;margin-left:23.5vw;}

@media (max-width: 767px) {
  .container{width: auto;}
  .logo {
    width: 100%; margin:150px auto;
  }
  .logo img {
    width: 50%;
  }
  .slogan {font-size: 14px;margin: 75px 24px;
    line-height: 50px;
  }
  .slogan1{margin-bottom: -60px;margin-left: 0px;}

  .clam1{margin-bottom:-140px;margin-left:-45px;}
  .clam2 {text-align:center;}
#servicii{margin:100px auto;}
.serv1 { width:100%;}
.boxed{border:none;}
  .servb{background:none;}
  .serv1, .serv1 p,#servicii p,#servicii h4 {text-align:center;padding-left:0px;}
  .pins img{display:none;}
  #portofolio .title{  text-align:center;}
  .righted {
    text-align:center;
    margin-right: -100px;
    margin-bottom: -50px;
  }
  #contact{text-align:center;}
  ._ta{padding:20px;}
  ._ta textarea {width:100%;}
  .email1{width:95%;margin-left:0px !important;}
}



#contact .title h3{
  color: #ccbba3;
  padding-left: 100px;
}

.white{
  background-color: white !important;
  height: 500px;
  padding: 100px 115px;
  padding-bottom: 200px;
  margin-left: -125px;
}

#contact{
  background-color: #1b1b1b;
}

.w3-animate-fading{animation:fading 2s }@keyframes fading{0%{opacity:0}50%{opacity:1}20%{opacity:0}}
.span3{
  width:250px !important;
}

@media (max-width:500px){
  .span3{
    width: auto;
  }
}

#narrow {
  float: left;
  width:200px;
  margin-left: 260px;
  text-align: left;
}

@media (max-width:760px){
  #narrow{
    width: 100%;
    height: 100px;
  }
}



#wide {
  float: right;
  text-align: center;
  margin-top: 85px;
  width: 60%;
}

@media (min-width:1500px){
  #wide{
    margin-right: 100px;
  }
}


@media (max-width: 1200px){
  .title .pins img{
    display: none;
  }

  .righted{
    margin-right: 0%;
    margin-bottom: 0;
  }
  #narrow{
    height: 150px;
   width: 100%;
   margin:auto;
  }
  #wide{
    width: 100%;
  }
  .mySlides{
    margin: auto;
     width: 90%;
     margin-left: 12.5%;
  }
  @media (min-width:780px){
    #narrow{
      margin-left: 40vw;
    }
  }

}
@media (max-width:768px){
  #narrow{
    text-align: center;
  }
  .span3{
    width: 200px !important;
  }
  .clam2{
    display: none;
  }
  .righted{
    text-align: center;
  }
}
@media (max-width:644px){
  .mySlides{
    margin-left: 25%;
  }
}

.margin-top{
  margin-top: 41vh;
}

.margin-top-section{
  margin-top: 150px;
}

.margin-top-xs{
  margin-top: 50px;
}
.margin-top-xxs{
  margin-top: 15px;
}

.margin-bottom{
  margin-top: -200px;
}

.span6{
  width: 45% !important;
}
.span9{
  margin-left: 12% !important;
}

@media(max-width:770px){
  .centered input{
    margin-right: -120%;
    text-align: center;
  }
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 165px;
    background-color: #1b1b1b;
}

@media (max-width: 768px){
  ul {
    margin:auto;
  }
}

li a {
    display: block;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
}

/* Change the link color on hover */
li a:hover {

    color: white;
}

element {
    width: 150px;
    height: 150px !important;
}

.row > .column {
  padding: 0 8px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  width: 25%;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;

  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-image: url(../img/buttons/background.png), url(../img/buttons/background.png);
  background-position: left, right;
  background-repeat: no-repeat, no-repeat;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 100%;
  overflow-y: hidden;
  overflow-x: visible;
  height: 90%;
  background-image: url(../img/buttons/background.png), url(../img/buttons/background.png);
  background-position: left, right;
  background-repeat: no-repeat, no-repeat;

}

/* The Close Button */
.close {
  color: black !important;
  font-size: 3  0px !important;
  margin-top: 20%;
  margin-right: 180px;

}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: relative;;
  color: black;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
  margin-right: 180px;
  margin-left: 10px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  position: absolute;
  top: 15%;
  left: 35px;
}

.caption-container {
  text-align: center;
  background-color: white;
  padding: 2px 16px;
  color: black;
  background: url(../img/buttons/background.png) white right no-repeat;
}

.caption-container-top{
  text-align: center;
  background-color: white;
  padding: 2px 16px;
  color: black;
  background-image: url(../img/buttons/background.png), url(../img/buttons/background.png);
  background-position: left, right;
  background-repeat: no-repeat, no-repeat;}

.mySlidesInner img {
  width: auto;
  height: auto;
  max-width: 50%;
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
  float: right;
  margin-top: 2%;
}



img.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

.left{
  float: left;
  text-align: left;
  padding-top:7%;
  padding-left: 300px;
}

.left h1{
  font-size: 40pt;
  font-weight: normal;
  color: #665761;
}

.category{
  color: #665761;
  font-size:14pt;
}

.description{
  font-size:14pt;
  color: #665761;
  line-height: 170%;
}

.caption-container .left{
  text-align: left;
}

.right{
  float: right;
  display: inline-block;
}

.caption-container .right a{
  right: 10px;
}

.right a{
  padding: 0 10px;
}

.top{
  padding-top: 10px;
}

.mySlidesInner{
  background-color: #fefefe;
}

.small{
  height: 100px;
}

@media (max-width:1300px){
  .caption-container{
    background-image: url('');
  }
  .modal-content {
    background-image: url('');
  }
  .caption-container-top {
    background-image: url('');
  }
  .modal{
    background-image: url('');
  }
  .left{
    padding-left: 50px;
    padding-top: 10px;
  }
  .close{
    margin-right: 10px;
  }
  .next{
    margin-right: 10px;
  }
  .mySlidesInner img{
    float: none;
    max-width: 100%;
    width: 100%;
  }
  .hidden-xs{
    display: none;
  }
}
